Лабораторна робота 4

Терещенко Микола ФБ-33

імпортуємо необхідні бібліотеки

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import timeit as tt

створимо масиви для порівняння часу

In [2]:
pandas_time = []
numpy_time = []

Спочатку numpy

In [3]:
start = tt.default_timer()

df = pd.read_csv("household_power_consumption.txt", sep=";", low_memory=False)
numpy_data = df.to_numpy()

print(numpy_data)
print(tt.default_timer()-start)

[['16/12/2006' '17:24:00' '4.216' ... '0.000' '1.000' 17.0]
 ['16/12/2006' '17:25:00' '5.360' ... '0.000' '1.000' 16.0]
 ['16/12/2006' '17:26:00' '5.374' ... '0.000' '2.000' 17.0]
 ...
 ['26/11/2010' '21:00:00' '0.938' ... '0.000' '0.000' 0.0]
 ['26/11/2010' '21:01:00' '0.934' ... '0.000' '0.000' 0.0]
 ['26/11/2010' '21:02:00' '0.932' ... '0.000' '0.000' 0.0]]
1.8806176069999765

data cleaning

date converting

In [4]:
numpy_data = np.delete(numpy_data,np.unique(np.where(numpy_data == '?')[0]),axis=0)


for i in range(numpy_data.shape[0]):
    right_f = dt.datetime.strptime(numpy_data[i,0],'%d/%m/%Y')
    numpy_data[i,0] = np.datetime64(right_f)

for i in range(numpy_data.shape[0]):
    numpy_data[i,1] = numpy_data[i,1].split(":")[0]

Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [5]:
start = tt.default_timer()

households_mt_5kW = numpy_data[numpy_data[:,2].astype(float)>5]

numpy_time.append(tt.default_timer()-start)
print(tt.default_timer()-start)

print(households_mt_5kW)

0.1872992040000554
[[numpy.datetime64('2006-12-16T00:00:00.000000') '17' '5.360' ... '0.000'
  '1.000' 16.0]
 [numpy.datetime64('2006-12-16T00:00:00.000000') '17' '5.374' ... '0.000'
  '2.000' 17.0]
 [numpy.datetime64('2006-12-16T00:00:00.000000') '17' '5.388' ... '0.000'
  '1.000' 17.0]
 ...
 [numpy.datetime64('2010-11-24T00:00:00.000000') '07' '5.172' ... '0.000'
  '38.000' 17.0]
 [numpy.datetime64('2010-11-24T00:00:00.000000') '07' '5.750' ... '0.000'
  '39.000' 17.0]
 [numpy.datetime64('2010-11-25T00:00:00.000000') '07' '5.074' ... '1.000'
  '2.000' 18.0]]

Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [6]:
start = tt.default_timer()

voltage_mt_235V = numpy_data[numpy_data[:,4].astype('float')>235]

numpy_time.append(tt.default_timer()-start)
print(tt.default_timer()-start)

print(voltage_mt_235V)

0.34207768999999644
[[numpy.datetime64('2006-12-16T00:00:00.000000') '17' '3.666' ... '0.000'
  '1.000' 17.0]
 [numpy.datetime64('2006-12-16T00:00:00.000000') '17' '3.520' ... '0.000'
  '2.000' 17.0]
 [numpy.datetime64('2006-12-16T00:00:00.000000') '17' '3.702' ... '0.000'
  '1.000' 17.0]
 ...
 [numpy.datetime64('2010-11-26T00:00:00.000000') '21' '0.938' ... '0.000'
  '0.000' 0.0]
 [numpy.datetime64('2010-11-26T00:00:00.000000') '21' '0.934' ... '0.000'
  '0.000' 0.0]
 [numpy.datetime64('2010-11-26T00:00:00.000000') '21' '0.932' ... '0.000'
  '0.000' 0.0]]

Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [7]:
start = tt.default_timer()

third_cond = numpy_data[(numpy_data[:,5].astype('float')>19) & (numpy_data[:,5].astype('float')<20)]
third_cond = numpy_data[numpy_data[:,7].astype('float64')>numpy_data[:,8].astype('float64')]

numpy_time.append(tt.default_timer()-start)
print(tt.default_timer()-start)

print(third_cond)

0.6272775509999065
[[numpy.datetime64('2006-12-16T00:00:00.000000') '18' '4.928' ... '0.000'
  '37.000' 16.0]
 [numpy.datetime64('2006-12-16T00:00:00.000000') '18' '6.052' ... '0.000'
  '37.000' 17.0]
 [numpy.datetime64('2006-12-16T00:00:00.000000') '18' '6.752' ... '0.000'
  '36.000' 17.0]
 ...
 [numpy.datetime64('2010-11-26T00:00:00.000000') '20' '0.948' ... '0.000'
  '1.000' 0.0]
 [numpy.datetime64('2010-11-26T00:00:00.000000') '20' '1.198' ... '0.000'
  '1.000' 0.0]
 [numpy.datetime64('2010-11-26T00:00:00.000000') '20' '1.024' ... '0.000'
  '1.000' 0.0]]

Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії.

In [8]:
start = tt.default_timer()

indexes = np.random.choice(len(numpy_data), size=500000, replace=True, p=None)
random = numpy_data[indexes,:]

all_groups_info = np.array([random[:,-3].astype('float'),random[:,-2].astype('float'),random[:,-1].astype('float')]).T
avg_of_all_groups_info = np.average(all_groups_info, 0)

numpy_time.append(tt.default_timer()-start)
print(tt.default_timer()-start)

print(avg_of_all_groups_info)

0.3896945510000478
[1.120094 1.28977  6.425454]

Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [9]:
start = tt.default_timer()

mt_18_00 = numpy_data[(numpy_data[:, 1].astype('timedelta64') >= np.timedelta64(18, 'h')) & (numpy_data[:, 2].astype('float64') > 6)]

mt_18_002 = mt_18_00[(mt_18_00[:, -2].astype('float') > mt_18_00[:, -3].astype('float')) & 
                     (mt_18_00[:, -2].astype('float') > mt_18_00[:, -1].astype('float'))]

n = len(mt_18_002) // 2
res1 = mt_18_002[:n:3]  
res2 = mt_18_002[n::4]  

numpy_time.append(tt.default_timer() - start)
print(tt.default_timer() - start)

print(res1)
print(res2)

0.5094688260001021
[[numpy.datetime64('2006-12-16T00:00:00.000000') '18' '6.052' ... '0.000'
  '37.000' 17.0]
 [numpy.datetime64('2006-12-16T00:00:00.000000') '18' '6.308' ... '0.000'
  '36.000' 17.0]
 [numpy.datetime64('2006-12-28T00:00:00.000000') '20' '6.386' ... '1.000'
  '36.000' 17.0]
 ...
 [numpy.datetime64('2008-03-23T00:00:00.000000') '20' '6.668' ... '0.000'
  '73.000' 17.0]
 [numpy.datetime64('2008-04-12T00:00:00.000000') '18' '6.568' ...
  '34.000' '36.000' 18.0]
 [numpy.datetime64('2008-04-20T00:00:00.000000') '21' '8.084' ... '1.000'
  '71.000' 18.0]]
[[numpy.datetime64('2008-04-20T00:00:00.000000') '21' '7.798' ... '1.000'
  '71.000' 17.0]
 [numpy.datetime64('2008-04-20T00:00:00.000000') '21' '7.452' ... '1.000'
  '68.000' 17.0]
 [numpy.datetime64('2008-04-20T00:00:00.000000') '21' '6.436' ... '1.000'
  '37.000' 17.0]
 ...
 [numpy.datetime64('2010-11-20T00:00:00.000000') '18' '6.302' ...
  '15.000' '34.000' 17.0]
 [numpy.datetime64('2010-11-20T00:00:00.000000') '18' '6.238' ...
  '14.000' '35.000' 16.0]
 [numpy.datetime64('2010-11-20T00:00:00.000000') '18' '6.438' ...
  '13.000' '39.000' 16.0]]

Pandas

In [10]:
start = tt.default_timer()
chunk_iter = pd.read_csv("household_power_consumption.txt", sep=";", low_memory=False, chunksize=100000)
df_chunk = next(chunk_iter)  # перший шматок

print(tt.default_timer() - start)

df_chunk.head()

0.11211384500006716

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

data cleaning

date converting

In [11]:
start = tt.default_timer()

df.drop(df[df.eq('?').any(axis=1)].index, inplace=True)

columns = ['Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']
df[columns] = df[columns].astype(float)
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time

print(tt.default_timer()-start)

6.688205011000036

Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [12]:
start = tt.default_timer()
households_mt_5kW = df[df['Global_active_power'] > 5]
pandas_time.append(tt.default_timer()-start)
print(tt.default_timer()-start)

households_mt_5kW.head()

0.008890231999885145

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0

Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [13]:
start = tt.default_timer()
voltage_mt_235V = df[df['Voltage'] > 235]
pandas_time.append(tt.default_timer()-start)
print(tt.default_timer()-start)

voltage_mt_235V.head()

0.2248279430000366

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0

Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [14]:
start = tt.default_timer()
third_cond = df[(df['Global_intensity'] >= 19) & (df['Global_intensity'] <= 20)]
third_cond = third_cond[third_cond['Sub_metering_2'] > third_cond['Sub_metering_3']]
pandas_time.append(tt.default_timer()-start)
print(tt.default_timer()-start)

third_cond.head()

0.028627814999936163

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0

Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії

In [15]:
start = tt.default_timer()

random_households = df.sample(n=500000, replace=True)

sub_1 = random_households['Sub_metering_1'].mean()
sub_2 = random_households['Sub_metering_2'].mean()
sub_3 = random_households['Sub_metering_3'].mean()

pandas_time.append(tt.default_timer()-start)
print(tt.default_timer()-start)

print("AVG electricity consumption for sub_metering_1 =", sub_1)
print("AVG electricity consumption for sub_metering_2 =", sub_2)
print("AVG electricity consumption for sub_metering_3 =", sub_3)

0.15319409699986863
AVG electricity consumption for sub_metering_1 = 1.12349
AVG electricity consumption for sub_metering_2 = 1.304238
AVG electricity consumption for sub_metering_3 = 6.453184

Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [16]:
start = tt.default_timer()

process_df = df[(df['Time'] > pd.to_datetime('18:00:00').time()) & (df['Global_active_power'] > 6)]

process_df = process_df[(process_df['Sub_metering_2'] > process_df['Sub_metering_1']) & (process_df['Sub_metering_2'] > process_df['Sub_metering_3'])]

first_half = process_df.iloc[:len(process_df) // 2].iloc[2::3]
second_half = process_df.iloc[len(process_df) // 2:].iloc[3::4]

res = pd.concat([first_half, second_half])

pandas_time.append(tt.default_timer()-start)
print(tt.default_timer()-start)

res.head()

0.11711991800007127

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
43,2006-12-16,18:07:00,6.474,0.144,231.85,27.8,0.0,37.0,16.0
3007,2006-12-18,19:31:00,6.158,0.442,229.08,27.0,0.0,36.0,0.0
17497,2006-12-28,21:01:00,7.062,0.270,235.76,30.2,2.0,65.0,17.0
17500,2006-12-28,21:04:00,7.376,0.238,234.67,31.4,1.0,72.0,17.0
17503,2006-12-28,21:07:00,7.248,0.000,235.34,30.8,1.0,72.0,17.0

In [17]:
print(numpy_time)
print(pandas_time)

[0.18727284500005226, 0.342051309999988, 0.6272534259999247, 0.3896745639999608, 0.5094392099999823]
[0.008864563999850361, 0.2248020849999648, 0.028597908999927313, 0.15317107400005625, 0.11709766600006333]